            body {
                padding: 0;
                margin: 0;
            }
            
            a {
                text-decoration: none;
            }
            /* scroll bar */
            
             ::-webkit-scrollbar {
                width: 10px;
            }
            
             ::-webkit-scrollbar-thumb {
                background-color: #9b783e;
                border-radius: 10px;
            }
            
             ::-webkit-scrollbar-track {
                background-color: #020e1b;
            }
            /* header */
            
            header {
                width: 100%;
            }
            
            .nav {
                width: 100%;
                height: 114px;
                background-color: #020e1b;
                display: flex;
            }
            
            .nav a {
                margin-left: 17px;
                width: 100px;
            }
            
            .nav .logo {
                width: 100px;
                height: 100px;
                margin-top: 8px;
            }
            
            .nav .navbar {
                display: flex;
                margin-left: auto;
                margin-top: 36px;
            }
            
            .nav .navbar a {
                font-size: 32px;
                color: #9b783e;
                margin-right: -19px;
                height: 33px;
                transition: 0.5s ease;
                font-family: 'Sansita Swashed', cursive;
            }
            
            .nav .navbar a:nth-of-type(3) {
                margin-right: 45px;
                width: 28px;
            }
            
            .nav .navbar a:nth-of-type(4) {
                margin-right: 45px;
                width: 28px;
            }
            
            .nav .navbar a:nth-of-type(5) {
                margin-right: 45px;
                width: 28px;
            }
            
            .nav .navbar a:nth-of-type(6) {
                margin-right: 45px;
                width: 28px;
            }
            
            .nav .navbar a:nth-of-type(1) {
                margin-right: 15px;
                color: #fff;
            }
            
            .nav .navbar a:nth-of-type(2) {
                font-size: 27px;
                width: 138px;
                margin-right: 32px;
                margin-top: 6px;
                height: 33px;
                color: #9b783e;
            }
            
            .nav .navbar a:nth-of-type(1):hover {
                color: #fff;
            }
            
            .nav .navbar a:nth-of-type(2):hover {
                color: #fff;
            }
            
            .navbar a:nth-of-type(3):hover {
                color: #4040dd;
            }
            
            .navbar a:nth-of-type(4):hover {
                color: #f7267e;
            }
            
            .navbar a:nth-of-type(5):hover {
                color: #35c3fb;
            }
            
            .navbar a:nth-of-type(6):hover {
                color: #13a80e;
            }
            
            .cont {
                width: 100%;
                height: 672px;
                background-image: url(../imgs/background.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                position: relative;
            }
            
            .cont .bio {
                position: absolute;
                display: flex;
                top: 499px;
                margin-left: 1vw;
            }
            
            .bio h3 {
                font-size: 2vw;
                color: #fff;
                font-family: 'Dancing Script', cursive;
            }
            
            .bio h3:nth-of-type(2) {
                margin-left: 57vw;
            }
            /* section */
            
            .section1 {
                height: 100%;
                background-image: url(../imgs/15.jpg);
                overflow: hidden;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: 100% 804px;
            }
            
            .tutvid {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .tutvid h1 {
                font-family: 'Satisfy', cursive;
                font-size: 70px;
                background-color: #e0a355c7;
                border-radius: 32px;
                width: 400px;
                text-align: center;
            }
            
            .tutvid .vid {
                width: 58vw;
                border-radius: 20px;
            }
            
            .box {
                width: 96%;
                height: 485px;
                display: flex;
                background-color: #e1e1e182;
                align-items: center;
                margin: 0 auto;
                margin-top: 27px;
                border-radius: 20px;
            }
            
            .box1 h2 {
                width: 630px;
                font-size: 40px;
                font-family: 'Dancing Script', cursive;
                text-align: center;
                margin-left: 40px;
            }
            
            .box1 img {
                width: 41vw;
                min-width: 41vw;
                height: 450px;
                margin-left: 161px;
                margin-right: 25px;
                border-radius: 10px;
            }
            
            .box2 {
                margin-bottom: 27px;
            }
            
            .box2 h2 {
                width: 630px;
                font-size: 40px;
                font-family: 'Dancing Script', cursive;
                text-align: center;
                margin-left: 108px;
                margin-right: 25px;
            }
            
            .box2 img {
                width: 41vw;
                min-width: 41vw;
                height: 450px;
                margin-left: 40px;
                border-radius: 10px;
            }
            /* slider */
            
            .swiper-container {
                width: 68%;
                height: 600px;
                margin: 30px auto;
                border-radius: 20px;
                border: solid 2px #e0a355c7;
            }
            
            .swiper-slide img {
                width: 100.2%;
                height: 600px;
                border-radius: 18px;
            }
            /* footer */
            
            footer {
                width: 100%;
                height: 372px;
                background-color: #020E1B;
                overflow: hidden;
                position: relative;
                display: flex;
            }
            
            .support {
                text-align: center;
                width: 700px;
            }
            
            .support a img {
                width: 244px;
                margin-top: 74px;
            }
            
            .contact {
                width: 20%;
                margin-left: 110px;
            }
            
            .contact h3 {
                font-family: 'Sigmar One', cursive;
                font-size: 30px;
                margin-top: 43px;
                color: #bab6ad;
            }
            
            .contact .social {
                display: flex;
                flex-direction: column;
            }
            
            .contact .social a {
                font-family: 'Sansita Swashed', cursive;
                margin-bottom: 30px;
                font-size: 19px;
                color: #df9e50;
            }
            
            .contact .social a .fab {
                margin-right: 12px;
                font-size: 28px;
            }
            
            .informations {
                margin-left: 10vw;
                margin-right: 3vw;
            }
            
            .informations h3 {
                font-family: 'Sigmar One', cursive;
                font-size: 30px;
                margin-top: 43px;
                color: #bab6ad;
            }
            
            .informations .informs {
                display: flex;
                flex-direction: column;
                width: 218px;
            }
            
            .informations .informs a {
                margin-bottom: 30px;
                font-size: 19px;
                color: #df9e50;
                font-family: 'Sansita Swashed', cursive;
            }
            
            .informs .fas,
            .informs .far {
                margin-right: 12px;
                font-size: 28px;
            }
            
            .contact .social a .fa-facebook-f {
                color: #4040dd;
            }
            
            .contact .social a .fa-instagram {
                color: #f7267e;
            }
            
            .contact .social a .fa-twitter {
                color: #35c3fb;
            }
            
            .contact .social a .fa-whatsapp {
                color: #13a80e;
            }
            
            .informs .fa-map-marker-alt {
                color: #4f4c4c;
            }
            
            .informs .fa-phone-alt {
                color: #098232;
            }
            
            .informs .fa-envelope {
                color: #fff;
            }
            /* media queries ------------------------------------- */
            
            @media (min-width: 1025px) and (max-width: 1280px) {
                .cont .bio {
                    margin-left: 1vw;
                }
                .bio h3 {
                    font-size: 2.5vw;
                    width: 29vw;
                }
                .bio h3:nth-of-type(1) {
                    margin-left: 6vw;
                }
                .bio h3:nth-of-type(2) {
                    margin-left: 31vw;
                }
                .contact {
                    width: 29vw;
                }
            }
            
            @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
                .box1 h2 {
                    font-size: 4vw;
                    width: 87vw;
                }
                .box1 img {
                    margin-left: 68px;
                }
                .box2 h2 {
                    font-size: 4vw;
                    width: 87vw;
                }
                .box2 img {
                    margin-left: 30px;
                }
                .nav .navbar a:nth-of-type(1) {
                    margin-right: 1vw;
                }
                .nav .navbar a:nth-of-type(2) {
                    margin-right: 2vw;
                }
                .nav .navbar a:nth-of-type(3) {
                    margin-right: 5vw;
                }
                .nav .navbar a:nth-of-type(4) {
                    margin-right: 5vw;
                }
                .nav .navbar a:nth-of-type(5) {
                    margin-right: 5vw;
                }
                .nav .navbar a:nth-of-type(6) {
                    margin-right: 5vw;
                }
                .cont .bio {
                    margin-left: 3vw;
                }
                .bio h3 {
                    font-size: 3vw;
                    width: 34vw;
                }
                .bio h3:nth-of-type(2) {
                    margin-left: 27vw;
                }
                .tutvid h1 {
                    font-size: 7vw;
                }
                .tutvid .vid {
                    width: 87vw;
                }
                .contact {
                    width: 49%;
                }
                .contact h3 {
                    font-size: 3vw;
                }
                .informations {
                    margin-left: 6vw;
                    margin-right: 1vw;
                }
            }
            
            @media (min-width: 592px) and (max-width: 767px) {
                .cont .bio {
                    margin-top: 30px;
                }
                .bio h3 {
                    width: 48vw;
                    font-size: 3.5vw;
                }
                .bio h3:nth-of-type(2) {
                    margin-left: 14vw;
                    width: 35vw;
                }
                .nav .navbar a:nth-of-type(3) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(4) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(5) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(6) {
                    display: none;
                }
                .tutvid h1 {
                    font-size: 8vw;
                }
                .tutvid .vid {
                    width: 95vw;
                }
                .box {
                    flex-direction: column;
                    height: 547px;
                }
                .box1 {
                    position: relative;
                }
                .box1 h2 {
                    width: 85vw;
                    font-size: 5vw;
                    margin-left: 0;
                    height: 33vw;
                    display: flex;
                    align-items: center;
                }
                .box1 img {
                    width: 89vw;
                    height: 261px;
                    margin-left: 0;
                    margin-right: 0;
                    position: absolute;
                    bottom: 3vw;
                }
                .box2 h2 {
                    width: 85vw;
                    font-size: 6vw;
                    margin-left: 0;
                    margin-top: 68px;
                }
                .box2 img {
                    width: 89vw;
                    height: 261px;
                    margin-top: 20px;
                    margin-left: 0;
                }
                .swiper-container {
                    width: 90vw;
                    height: 425px;
                }
                .swiper-slide img {
                    width: 90vw;
                    height: 425px;
                }
                .support {
                    display: none;
                }
                .contact {
                    width: 84vw;
                    margin-left: 7vw;
                }
            }
            
            @media (min-width: 481px) and (max-width: 591px) {
                .cont .bio {
                    margin-top: 30px;
                }
                .bio h3 {
                    width: 48vw;
                    font-size: 3.5vw;
                }
                .bio h3:nth-of-type(2) {
                    margin-left: 14vw;
                    width: 35vw;
                }
                .nav .navbar a:nth-of-type(3) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(4) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(5) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(6) {
                    display: none;
                }
                .tutvid h1 {
                    font-size: 8vw;
                }
                .tutvid .vid {
                    width: 95vw;
                }
                .box {
                    flex-direction: column;
                    height: 547px;
                }
                .box1 {
                    position: relative;
                }
                .box1 h2 {
                    width: 85vw;
                    margin-left: 0;
                    display: flex;
                    align-items: center;
                    font-size: 6vw;
                    height: 48vw;
                }
                .box1 img {
                    width: 89vw;
                    height: 261px;
                    margin-left: 0;
                    margin-right: 0;
                    position: absolute;
                    bottom: 3vw;
                }
                .box2 h2 {
                    width: 85vw;
                    font-size: 6vw;
                    margin-left: 0;
                    margin-top: 68px;
                }
                .box2 img {
                    width: 89vw;
                    height: 261px;
                    margin-top: 20px;
                    margin-left: 0;
                }
                .swiper-container {
                    width: 90vw;
                    height: 425px;
                }
                .swiper-slide img {
                    width: 90vw;
                    height: 425px;
                }
                .support {
                    display: none;
                }
                .contact {
                    width: 84vw;
                    margin-left: 7vw;
                }
            }
            
            @media (min-width: 0px) and (max-width: 480px) {
                .nav {
                    height: 93px;
                }
                .nav a {
                    width: 94px;
                }
                .nav .logo {
                    width: 80px;
                    height: 80px;
                }
                .nav .navbar a:nth-of-type(1) {
                    margin-right: 1px;
                    margin-top: 1px;
                    font-size: 6vw;
                }
                .nav .navbar a:nth-of-type(2) {
                    font-size: 5vw;
                    margin-right: 1vw;
                    width: 27vw;
                }
                .nav .navbar a:nth-of-type(3) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(4) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(5) {
                    display: none;
                }
                .nav .navbar a:nth-of-type(6) {
                    display: none;
                }
                .cont {
                    height: 230px;
                }
                .cont .bio {
                    top: 179px;
                    width: 100%;
                }
                .bio h3 {
                    font-size: 13px;
                }
                .bio h3:nth-of-type(1) {
                    margin-right: auto;
                }
                .bio h3:nth-of-type(2) {
                    margin-left: auto;
                    margin-right: 2vw;
                }
                .tutvid h1 {
                    font-size: 8vw;
                }
                .tutvid .vid {
                    width: 95vw;
                }
                .box {
                    flex-direction: column;
                    height: 510px;
                }
                .box1 {
                    position: relative;
                }
                .box1 h2 {
                    width: 85vw;
                    margin-left: 0;
                    display: flex;
                    align-items: center;
                    font-size: 6vw;
                    height: 48vw;
                }
                .box1 img {
                    width: 89vw;
                    height: 261px;
                    margin-left: 0;
                    margin-right: 0;
                    position: absolute;
                    bottom: 3vw;
                }
                .box2 h2 {
                    width: 85vw;
                    font-size: 6vw;
                    margin-left: 0;
                    margin-top: 68px;
                }
                .box2 img {
                    width: 89vw;
                    height: 261px;
                    margin-top: 20px;
                    margin-left: 0;
                }
                .swiper-container {
                    width: 90vw;
                    height: 425px;
                }
                .swiper-slide img {
                    width: 90vw;
                    height: 425px;
                }
                footer {
                    height: 100%;
                }
                .support {
                    display: none;
                }
                .contact {
                    width: 217px;
                    margin-right: 2vw;
                    margin-left: 0;
                }
                .contact h3 {
                    font-size: 20px;
                }
                .contact .social a .fab {
                    font-size: 27px;
                }
                .informations {
                    margin-left: 0vw;
                    margin-right: 0vw;
                    width: 189px;
                }
                .informations h3 {
                    font-size: 20px;
                }
                .informations .informs a {
                    font-size: 14px;
                }
                .informs .fas,
                .informs .far {
                    font-size: 24px;
                }
            }